<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Sugari</title>
    </head>
    <body>
        <h1>Sugari</h1>
        <div class="home-text">Telenor Hackaton May 2018</div>
    </body>
</html>
